.button {
  font-weight: 600;
  color: var(--accent);
  background-color: var(--primary);
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
  &__md {
    height: 40px;
    width: 148px;
    font-size: 14px;
    line-height: 20px;
  }
  &__lg {
    height: 48px;
    width: 164px;
    font-size: 16px;
    line-height: 24px;
  }
  text-align: center;
}

.button-play {
  background-color: var(--accent);
  color: var(--dark);
  border: none;
  box-shadow: 0px 8px 16px -4px rgba(28, 44, 64, 0.08);
  border-radius: 100px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
