.hr {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--neutral);
  margin: 0 0 24px 0;
  &--half {
    max-width: 50%;
    opacity: 0.1;
    border-bottom: 1px solid var(--accent);
  }
}

.ellipse {
  &__container {
    overflow: hidden;
    position: relative;
  }
  &__decoration {
    border-radius: 50%;
    background-color: var(--green-palid);
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    top: 44%;
    left: 16%;
    @media only screen and (min-width: $screen-tablet-min) {
      width: 700px;
      height: 700px;
      top: 32%;
      left: 18%;
    }
    @media only screen and (min-width: $screen-desktop-min) {
      top: -15%;
      left: 59%;
    }
  }
}

.semi-ellipse {
  &__container {
    overflow: hidden;
    position: relative;
  }
  &__decoration {
    border-radius: 50%;
    background-color: var(--green-palid);
    position: absolute;
    z-index: -1;
    width: 304px;
    height: 304px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    @media only screen and (min-width: $screen-tablet-min) {
      width: 624px;
      height: 624px;
    }
    @media only screen and (min-width: $screen-desktop-min) {
      width: 760px;
      height: 760px;
      transform: translate(-75%, -50%);
    }
  }
}
