.mt-8 {
  margin-top: 8px;
}

.mt-8-24 {
  margin-top: 8px;
  @media only screen and (min-width: $screen-tablet-min) {
    margin-top: 24px;
  }
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32-72 {
  margin-top: 32px;
  @media only screen and (min-width: $screen-tablet-min) {
    margin-top: 72px;
  }
}

.mt-40 {
  margin-top: 40px;
}

.mt-47 {
  margin-top: 47px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-48-80-186 {
  margin-top: 48px;
  @media only screen and (min-width: $screen-tablet-min) {
    margin-top: 80px;
  }
  @media only screen and (min-width: $screen-desktop-min) {
    margin-top: 186px;
  }
}
.mt-48-96 {
  margin-top: 48px;
  @media only screen and (min-width: $screen-tablet-min) {
    margin-top: 96px;
  }
}

.mt-50-84 {
  margin-top: 50px;
  @media only screen and (min-width: $screen-tablet-min) {
    margin-top: 84px;
  }
}

.mt-68 {
  margin-top: 68px;
  @media only screen and (min-width: $screen-tablet-min) {
    margin-top: 100px;
  }
  @media only screen and (min-width: $screen-desktop-min) {
    margin-top: 206px;
  }
}

.mt-72 {
  margin-top: 72px;
}

.mt-74 {
  margin-top: 74px;
}

.pt-64 {
  padding-top: 64px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-72-96 {
  padding-bottom: 72px;
  @media only screen and (min-width: $screen-tablet-min) {
    padding-bottom: 96px;
  }
}

.pb-74 {
  padding-bottom: 74px;
}

.p-0-60 {
  @media only screen and (min-width: $screen-tablet-min) {
    padding: 0 60px;
  }
}
