.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-68 {
  margin-top: 68px;
  @media only screen and (min-width: $screen-tablet-min) {
    margin-top: 100px;
  }
  @media only screen and (min-width: $screen-desktop-min) {
    margin-top: 206px;
  }
}

.mt-72 {
  margin-top: 72px;
}

.mt-74 {
  margin-top: 74px;
}

.pt-64 {
  padding-top: 64px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-72 {
  padding-bottom: 72px;
}
.pb-74 {
  padding-bottom: 74px;
}
